<section
  class="w-1/2 mx-auto bg-gray-100 p-4 border rounded shadow border-gray-50"
>
  <h1 class="text-3xl font-medium text-center text-green-600 mb-4">
    Forgot Password
  </h1>
  @if (step == 1) {
  <form [formGroup]="verifyEmail" (ngSubmit)="submitVerifyEmail()">
    <div class="my-2">
      @let emailControl = verifyEmail.get('email');
      <label for="email" class="block mb-2 text-sm font-medium">Email</label>
      <input
        formControlName="email"
        id="email"
        type="email"
        class="bg-white border border-gray-300 rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
      />
      @if (emailControl?.errors && emailControl?.touched) {

      <div
        class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
        role="alert"
      >
        <svg
          class="shrink-0 inline w-4 h-4 me-3 mt-[2px]"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 20 20"
        >
          <path
            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
          />
        </svg>
        <span class="sr-only">Danger</span>
        <div>
          <ul class="mt-1.5 list-disc list-inside">
            @if (emailControl?.getError('required')) {
            <li>Email is required</li>
            }@else if (emailControl?.getError('email')) {
            <li>Enter valid Email</li>
            }
          </ul>
        </div>
      </div>

      }
    </div>

    <button
      [disabled]="isLoading"
      type="submit"
      class="bg-green-600 text-white px-12 py-2 border rounded hover:bg-green-800 transition-colors duration-500 mt-2"
    >
      Verify Email @if(isLoading){
      <span><i class="fas fa-spin fa-spinner"></i></span>

      }
    </button>

    <!-- @if(msgError){
    <p class="bg-red-400 text-white mt-4 px-2 py-4 border rounded">
      {{ msgError }}
    </p>
    } -->
    @if(isSuccess){
    <p class="bg-green-400 text-white mt-4 px-2 py-4 border rounded">
      {{ isSuccess }}
    </p>
    }
  </form>

  } @else if (step == 2) {
  <form [formGroup]="verifyCode" (ngSubmit)="submitVerifyCode()">
    <div class="my-2">
      @let code = verifyCode.get('resetCode');
      <label for="resetCode" class="block mb-2 text-sm font-medium"
        >Reset Code</label
      >
      <input
        formControlName="resetCode"
        id="resetCode"
        type="text"
        class="bg-white border border-gray-300 rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
      />
      @if (code?.errors && code?.touched) {

      <div
        class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
        role="alert"
      >
        <svg
          class="shrink-0 inline w-4 h-4 me-3 mt-[2px]"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 20 20"
        >
          <path
            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
          />
        </svg>
        <span class="sr-only">Danger</span>
        <div>
          <ul class="mt-1.5 list-disc list-inside">
            @if (code?.getError('required')) {
            <li>Reset code is required</li>
            }@else if (code?.getError('pattern')) {
            <li>Enter valid Reset code</li>
            }
          </ul>
        </div>
      </div>

      }
    </div>

    <button
      [disabled]="isLoading"
      type="submit"
      class="bg-green-600 text-white px-12 py-2 border rounded hover:bg-green-800 transition-colors duration-500 mt-2"
    >
      Verify Code @if(isLoading){
      <span><i class="fas fa-spin fa-spinner"></i></span>

      }
    </button>

    <!-- @if(msgError){
    <p class="bg-red-400 text-white mt-4 px-2 py-4 border rounded">
      {{ msgError }}
    </p>
    }-->
    @if(isSuccess){
    <p class="bg-green-400 text-white mt-4 px-2 py-4 border rounded">
      {{ isSuccess }}
    </p>
    }
  </form>

  } @else if (step == 3) {
  <form [formGroup]="resetPassword" (ngSubmit)="submitResetPassword()">
    <div class="my-2">
      @let rEmailControl = resetPassword.get('email');
      <label for="email" class="block mb-2 text-sm font-medium">Email</label>
      <input
        formControlName="email"
        id="email"
        type="email"
        class="bg-white border border-gray-300 rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
      />
      @if (rEmailControl?.errors && rEmailControl?.touched) {

      <div
        class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
        role="alert"
      >
        <svg
          class="shrink-0 inline w-4 h-4 me-3 mt-[2px]"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 20 20"
        >
          <path
            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
          />
        </svg>
        <span class="sr-only">Danger</span>
        <div>
          <ul class="mt-1.5 list-disc list-inside">
            @if (rEmailControl?.getError('required')) {
            <li>Email is required</li>
            }@else if (rEmailControl?.getError('email')) {
            <li>Enter valid Email</li>
            }
          </ul>
        </div>
      </div>

      }
    </div>

    <div class="my-2">
      @let newPassword = resetPassword.get('newPassword');
      <label for="newPassword" class="block mb-2 text-sm font-medium"
        >New Password</label
      >
      <input
        formControlName="newPassword"
        id="newPassword"
        type="password"
        class="bg-white border border-gray-300 rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
      />
      @if (newPassword?.errors && newPassword?.touched) {

      <div
        class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
        role="alert"
      >
        <svg
          class="shrink-0 inline w-4 h-4 me-3 mt-[2px]"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 20 20"
        >
          <path
            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
          />
        </svg>
        <span class="sr-only">Danger</span>
        <div>
          <ul class="mt-1.5 list-disc list-inside">
            @if (newPassword?.getError('required')) {
            <li>New Password is required</li>
            }@else if (newPassword?.getError('pattern')) {
            <li>Enter valid Password</li>
            }
          </ul>
        </div>
      </div>

      }
    </div>

    <button
      [disabled]="isLoading"
      type="submit"
      class="bg-green-600 text-white px-12 py-2 border rounded hover:bg-green-800 transition-colors duration-500 mt-2"
    >
      Verify New Password @if(isLoading){
      <span><i class="fas fa-spin fa-spinner"></i></span>

      }
    </button>
  </form>
  }
</section>
